@import "../styles/media.scss";
.icon_section {
  font-size: 1.4rem;
  text-decoration: none;
  margin: 0 2.4rem;
}
.nav_section {
  background-color: greenyellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
}
.ul_menu_section {
  list-style: none;
  display: flex;
  margin: 0 12rem;
}
