@import "../../styles/globalStyle.scss";
@import "../../styles/media\ .scss";

.nav__layout {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: hidden;
  z-index: 99;

  -webkit-overflow-scrolling: touch;

  &-center {
    width: 100%;
    position: relative;

    &-menu-section {
      top: 64px;
      right: 0;
      height: calc(100vh - 64px);
    }
  }
  &-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-shrink: 0;
    padding: 14px 16px;
    min-height: 64px;
    background-color: palegreen;
  }
  &-title {
    font-size: 1.75rem;
    letter-spacing: 1px;
    font-weight: lighter;
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  &-menu-section {
    position: absolute;
    right: 50px;
    flex-direction: row;
    align-items: center;
    padding: 0;

    @include respond(mini-mobile) {
      display: none;
    }
    @include respond(mobile) {
      display: none;
    }
    @include respond(tablet) {
      display: none;
    }
    @include respond(desktop) {
      display: flex;
    }
    @include respond-mb(tab-2) {
      display: none;
    }
  }

  &-navigation-link {
    display: inline-flex;
    padding: 0 18px 0 18px;
    list-style: none;
    text-decoration: none;
    font-size: 22px;
    color: #000;
    font-weight: 300;
    height: 75%;
  }

  &-icon {
    position: absolute;
    font-size: 28px;
    right: 22px;
    top: 17px;
    cursor: pointer;
    @include respond(desktop) {
      display: none;
    }
    @include respond(screen-x) {
      display: none;
    }
    @include respond(screen-xx) {
      display: none;
    }
    @include respond(screen-xl) {
      display: none;
    }
    @include respond-mb(tab-2) {
      display: block;
    }
  }
  // .is_visible {
  //   display: none;
  //   @include respond-mb(tab-2) {
  //     position: absolute;
  //     top: 70px;
  //     right: 0;
  //     background: blue;
  //     display: block;
  //     flex-direction: column;
  //     height: 90vh;

  //     &-navigation-link {
  //       width: 100%;
  //       padding: 32px;
  //     }
  //   }
  // }
}
