@import "../../styles/globalStyle.scss";
@import "../../styles/media\ .scss";

.header {
  display: flex;
  justify-content: space-between;
  min-height: 65px;
  align-items: center;
  padding: 0 4rem;
  background-color: darksalmon;

  &-left {
    .logo {
      font-weight: bold;
      font-size: 34px;
      letter-spacing: 1.5px;
    }
  }
  &-right {
    margin: 0 3rem;
    .menu-list {
      display: flex;
      &-item {
        margin: 0px 0.75rem;
        font-size: 22px;
        font-weight: 500;
        color: skyblue;
        &:hover {
          color: darkblue;
        }
      }
      @include md {
        display: none;
      }

      // @include respond(laptop) {
      //   display: none;
      // }
      // @include respond(mobile) {
      //   display: none;
      // }
    }
  }
  &-menu-icon {
    @include respond(tablet) {
      display: block;
    }
  }

  .mb-menu {
    background-color: palegreen;
    position: absolute;
    right: 0;
    top: 65px;
    height: 100vh;
    width: 450px;
    color: white;
  }
}

@media only screen {
}
