/**
Use a better box model (opinionated).
*/

:root {
  $header-height: 3rem;

  /* colors */
  $hue: 0;
  $sat: 0%;
  $title-color: hsl(var(var($hue), var($sat), 20%));
  $title-color-dark: hsl(var($hue), var($sat), 0%);
  $text-color: hsl(var(var($hue), var($sat), 46%));
  $body-color: hsl(var(var($hue), var($sat), 98%));
  $container-color: #f7a328;

  /* font */
  $body-font: "Poppins", san-serif;

  /* .5rem = 8px | 1rem = 16px ... */
  $big-font-size: 3.5rem;
  $big-font-size: 2.25rem;
  $h2-font-size: 1.5rem;
  $h3-font-size: 1.25rem;
  $normal-font-size: 1rem;
  $small-font-size: 0.875rem;
  $smaller-font-size: 0.813rem;
  $tiny-font-size: 0.625rem;

  /* font weight */
  $font-normal: 400;
  $font-medium: 500;
  $font-semibold: 600;

  /* martin bottom */
  /* 0.5rem = 8px | 1rem = 16px */

  $mb-0-25: 0.25rem;
  $mb-0-5: 0.5rem;
  $mb-0-75: 0.75rem;
  $mb-1: 1rem;
  $mb-2: 2rem;
  $mb-2-5: 2.5rem;
  $mb-1-5: 1.5rem;
  $mb-3: 3rem;

  /* z index */
  $z-tooltip: 10;
  $z-fixed: 100;
  $z-modal: 1000;

  /* Responsive Typography */
  @media screen and (max-width: 992px) {
    :root {
      $big-font-size: 2.75rem;
      $h1-font-size: 1.5rem;
      $h2-font-size: 1.25rem;
      $h3-font-size: 1rem;
      $normal-font-size: 0.938rem;
      $small-font-size: 0.813rem;
      $smaller-font-size: 0.75rem;
    }
  }
}

// LabCorp UI Overrides
$theme-colors: (
  "primary": #003a70,
  "secondary": #2e93b1,
  "success": #155724,
  "danger": #790e1d,
  "warning": #c59c38,
  "info": #007a6e,
  "light": #edf1f4,
  "dark": #0b1519,
);

*,
::before,
::after {
  box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  tab-size: 4; /* 3 */
}
body,
button,
input,
textarea {
  font-family: var(body-font);
  font-size: var(normal-font-size);
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: var(title-color);
  font-weight: var(font-semibold);
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
section {
  padding: 6rem 0 2rem;
}
.section_title {
  font-size: var(h1-font-size);
  color: var(title-color);
}

.section_subtitle {
  display: block;
  font-size: var(small-font-size);
  margin-bottom: 4rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

/* Button */
.button {
  display: inline-block;
  background-color: var(title-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(font-medium);
}
.button:hover {
  background-color: var(title-color-dark);
}
.button_icon {
  margin-left: var(mb-0-5);
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
