


*,
::before,
::after {
  box-sizing: border-box;
  overflow: hidden;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/

html {
  line-height: 1.15; /* 1 */
  // -webkit-text-size-adjust: 100%; /* 2 */
  // -moz-tab-size: 4; /* 3 */
  // tab-size: 4; /* 3 */
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4 {
  color: var(title-color);
  font-weight: var(font-semibold);
}
button {
  cursor: pointer;
  border: none;
  outline: none;
}
section {
  padding: 4rem 2rem;
}
.section_title {
  font-size: var(h1-font-size);
  color: var(title-color);
}

.section_subtitle {
  display: block;
  font-size: var(small-font-size);
  margin-bottom: 4rem;
}

.section_title,
.section_subtitle {
  text-align: center;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
.grid {
  display: grid;
  gap: 1.5rem;
}

/* Button */
.button {
  display: inline-block;
  background-color: var(title-color);
  padding: 1.25rem 2rem;
  border-radius: 1rem;
  font-weight: var(font-medium);
}
.button:hover {
  background-color: var(title-color-dark);
}
.button_icon {
  margin-left: var(mb-0-5);
}
.button--flex {
  display: inline-flex;
  align-items: center;
}
