@import "../../styles/globalStyle";
@import "../../styles/media\ .scss";

.about__section {
  min-width: 89%;
  // background-color: greenyellow;
  min-height: 100%;
  padding: 0 3rem;

  &-grid {
    background-color: blue;
    color: #fff;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    height: 90%;
    min-width: 85%;
  }
}
