@import "../../styles/globalStyle";
@import "../../styles/media\ .scss";

.about__section {
  min-width: 89%;
  // background-color: greenyellow;
  min-height: 100%;
  padding: 0 3rem;

  &-grid {
    background-color: blue;
    color: #fff;
    display: grid;
    place-items: center;
    place-content: center;
    grid-template-columns: 1fr 1fr;
    height: 90%;
    min-width: 85%;
  }
}

.about_container {
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 4rem;
}
.about_img {
  width: 350px;
  border-radius: 1.5rem;
  justify-self: center;
}
.about_info {
  grid-template-columns: repeat(3, 140px);
  gap: 0.5rem;
  margin-bottom: 0.6rem;
}
.about_box {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  text-align: center;
  padding: 1rem 1.25rem;
}
