@import "../../styles/globalStyle";
@import "../../styles/media\ .scss";

.layout__container {
  max-width: 80%;
  min-height: 400px;
  border-radius: 25px;

  background-color: red;
  display: grid;
  margin: 50px auto;
}
