@import "../../styles/globalStyle";
@import "../../styles/media\ .scss";

.home-container {
  width: 95%;
  height: calc(100% - 64px);
  min-height: 560px;
  background-color: green;
  margin: 0 auto;
}
