@import "../../styles/globalStyle";
@import "../../styles/media\ .scss";

.layout__container {
  padding: 2rem 7%;
  max-width: 80%;
  min-height: 450px;
  border-radius: 25px;

  background-color: blue($color: #000000);
  display: grid;
  margin: 50px auto;

  &-inner {
    padding: 20px;
    color: white;
    width: 50%;
  }
}
