@import "../../styles/globalStyle.scss";
@import "../../styles/media\ .scss";

.contact {
  width: 89%;
  max-height: calc(100% - 64px);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightsalmon;
}
