@import "../../styles/globalStyle.scss";
@import "../../styles/media\ .scss";

.contact {
  max-width: 80%;
  background-color: skyblue;
  display: flex;
  justify-content: space-between;
  position: relative;
  margin: 8rem auto;
  border-radius: 15px;
  height: 65vh;

  &.contact_title {
    text-align: center;
    font-weight: 900;
    padding: 14px auto;
  }

  .contact_container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;

    .contact_options {
      .contact_option {
        background-color: yellow;
        margin: 8px;
        border-radius: 14px;
        padding: 12px;

        .contact_info {
          text-align: center;
          .social_icon {
            cursor: pointer;
            margin: 8px auto;
          }
        }
      }
    }
    form {
      width: 50%;

      input {
        padding: 14px 22px;
        border-radius: 12px;
        cursor: pointer;
      }
    }
  }
  // .social_icons {
  //   &.stick_follow_icon {
  //     position: absolute;
  //     top: 50%;
  //     left: 10%;
  //     width: 8px;
  //     background-color: black;
  //   }
  // }
}
