@import "../../styles/globalStyle.scss";
@import "../../styles/media\ .scss";

.contact {
  max-width: 80%;
  background-color: skyblue;
  margin: 8rem auto;
  border-radius: 15px;
  min-height: 100vh;

  .contact_title {
    text-align: center;
    font-weight: 700;
    padding: 1rem;
    font-weight: 32px;
    background: #1dcf3a;

    background: linear-gradient(to right, #1dcf3a 0%, #80cf97 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .contact_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem auto;
    max-height: 100%;
    gap: 1rem;

    @media screen and (max-width: 568px) {
      flex-direction: column;
    }

    .contact_options .contact_option {
      background-color: yellow;
      margin: 14px;
      border-radius: 14px;
      padding: 4rem auto;

      .contact_info {
        text-align: center;
        padding: 18px;
        a {
          text-decoration: none;
        }
        .social_icon {
          cursor: pointer;
          margin: 8px auto;
        }
      }
    }
  }
  form {
    width: 50%;

    input {
      border: none;
      outline: none;
      margin-bottom: 14px;
      width: 50vw;
      padding: 14px 22px;
      border-radius: 12px;
      cursor: pointer;
    }
    textarea {
      border-radius: 12px;
      width: 100%;
      border: none;
      outline: none;
      margin-bottom: 14px;
    }
  }
}
// .social_icons {
//   &.stick_follow_icon {
//     position: absolute;
//     top: 50%;
//     left: 10%;
//     width: 8px;
//     background-color: black;
//   }
// }
