@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

::-webkit-scrollbar {
  width: 1.5em;
  height: 1em;
}
::-webkit-scrollbar-track {
  background: hsl(120, 63%, 65%);
  border-radius: 100vw;
  margin-block: 0.5em;
}
::-webkit-scrollbar-thumb {
  background: hsl(120 100% 40% / 1);
  border: 0.25em solid hsl(120 75% 50% / 1);
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120, 62%, 30%);
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  --box-background: linear-gradient(
    120deg,
    rgb(255 255 255 / 12%),
    rgb(255 255 255 / 1%)
  );
  --box-background-before: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );

  /* fontsizes */
  --h1-fs: 36px;
  --h2-fs: 30px;
  --h4-fs: 14px;
  --h3-fs: 20px;
  --h5-fs: 16px;

  /*colors*/
  --text-color-heading: #ffffff;
  --text-color-blue: #5b78f6;
  --background-color: #0f0f0f;
  --default-text-color: #9f9f9f;
  --button-color: #323232;

  // constants
  --default-padding-inside-box: 30px;
  --box-border-radius: 30px;
  --section-spacing-bottom: 20px;
  --nav-bottom-spacing: 80px;
  --container-max-width: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background: var(--background-color);
  color: var(--default-text-color);
  line-height: 19.2px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  text-decoration: none;
  overflow: hidden;
}

.container {
  max-width: var(--container-max-width);
  margin: 0 auto;

  @media (max-width: 991px) {
    max-width: 90%;
  }
}

.section {
  width: 100%;
}

/* typography */

h1 {
  font-size: var(--h1-fs);
  line-height: 40px;
  margin-bottom: 12px;
  color: var(--text-color-heading);
}

h2 {
  font-size: var(--h2-fs);
  font-weight: bold;
  color: var(--text-color-heading);
}

h3 {
  font-size: var(--h3-fs);
  margin-bottom: 12px;
  color: var(--text-color-heading);

  @media (max-width: 480px) {
    font-size: 16px;
  }
}

h4 {
  font-size: var(--h4-fs);
  margin-bottom: 3px;
  color: #bcbcbc;
}

h5 {
  font-size: var(--h5-fs);

  &:hover {
    color: var(--text-color-heading);
    transition: 0.3s;
  }
}

a {
  color: var(--default-text-color);
}

.section {
  padding: 60px 0 0 0;
}

img {
  width: 100%;
}

// utility classes

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.w-100 {
  width: 100%;
}
